*{
  background-color: cornflowerblue;
}
h1{
   font-size: 40px;
   text-align: center;
}
.images {
  width : 150px;
}
nav {
  display: flex;
justify-content: space-around;

}
.container3{
  display: flex;
  
}